.wrapper {
  min-height: 100vh;
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(149deg, rgba(253, 34, 224, 0.293) 0%, rgba(85, 0, 243, 0.241) 27%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 72%, rgba(138,11,240,0.36747198879551823) 100%);


}

