.wrapper {
  min-height: 100vh;
  padding-top: 70px;
 //display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  background: linear-gradient(149deg, rgba(253,34,222,0.2435985218394886) 0%, rgba(85,0,243,0.2890530672940341) 18%, rgba(64,7,169,0.1102651885061553) 30%, rgba(22,22,22,0) 54%, rgba(22,22,22,0) 72%, rgba(138,11,240,0.279962158203125) 100%);
}

