<div class="wrapper">
  <div class="container">
    <h1 class="title">Sign In</h1>
    <a [routerLink]="['/register']">Need an account?</a>
    <div class="errors">
      <mc-backend-error-messages
        *ngIf="backendErrors$ | async as error"
        [backendErrors]="error"
      ></mc-backend-error-messages>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <input
          type="email"
          class="form-control form-control-lg"
          placeholder="Email"
          formControlName="email"
        />
      </fieldset>
      <fieldset>
        <input
          type="password"
          class="form-control form-control-lg"
          placeholder="Password"
          formControlName="password"
        />
      </fieldset>
      <button
        class="btn btn-lg btn-primary pull-xs-right"
        type="submit"
        [disabled]="isSubmitting$ | async"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
